<div class="container">
  <form id="myForm">
    <div class="form_item">
        <label>Owner of note:</label>
        <input type="text" id="owner" name="owner">
    </div>

    <div class="form_item">
        <label>Title of the note:</label>
        <input type="text" id="title" name="title">
    </div>

    <div class="form_item">
        <label>Message:</label>
        <textarea id="message" name="message"></textarea>
    </div>
    <button type="submit"> Add note </button>
  </form>
</div>

<script>
    $('#myForm').on('submit', (e) => {
        e.preventDefault()

        const jsonData = {
            owner: $('#owner').val(),
            title: $('#title').val(),
            message: $('#message').val()
        }

        $.ajax({
            type: 'POST',
            url: '/api/add_note',
            data: JSON.stringify(jsonData),
            contentType: 'application/json',
            success: (data, status) => {
                window.location.href = "/"
            },
            error: () => {
                alert('Problen')
            }
        })
    })
</script>