<div class="container">
  <form id="myForm" data-id="{{article.id}}">
    <div class="form_item">
      <label>Owner of note:</label>
      <input type="text" id="owner" name="owner" value="{{article.owner}}">
    </div>

    <div class="form_item">
      <label>Title of the note:</label>
      <input type="text" id="title" name="title" value="{{article.title}}">
    </div>

    <div class="form_item">
      <label>Message:</label>
      <textarea id="message" name="message">{{article.message}}</textarea>
    </div>
    <button type="submit"> Update Note </button>
  </form>
</div>

<script>
  $('#myForm').on('submit', (e) => {
    e.preventDefault()

    const id = $('#myForm').data('id');
    const jsonData = {
      owner: $('#owner').val(),
      title: $('#title').val(),
      message: $('#message').val()
    }

    $.ajax({
      type: 'PATCH',
      url: `/api/edit_note/${id}`,
      data: JSON.stringify(jsonData),
      contentType: 'application/json',
      success: (data, status) => {
          window.location.href = "/"
      },
      error: () => {
          alert('Problen')
      }
    })
  })
</script>